---
layout: page-empty
title: Studenten
subtitle: Deze studenten kozen voor onze richting
pageindex: false
pagination:
    data: cases
    size: 1
    alias: case
permalink: "cases/{{ case.title | slug}}/index.html"
---

<section>
    <div class="container-fluid pr-0">
        <div class="row">
            <div class="col pt-5 pb-6">
                <a href="{{ '/studenten' | url }}" class="btn-arrow btn-arrow-reverse small mb-5">terug naar overzicht</a>
                <h3 class="font-rhode modal-title mb-0">{{student.fields.name_first}} {{student.fields.name_last}}</h3>
                <p class="text-modern">Over {{student.fields.name_first}}</p>
                <div class="text-box mb-4 text-color-grey">{{ student.fields.about }}</div>
                <p class="text-modern small mb-0">Interesses</p>
                <p class="text-color-grey">{{student.fields.interests}}</p>
                <p class="text-modern small mb-0">Mijn favoriete vak</p>
                <p class="text-color-grey">{{student.fields.favourite}}</p>
            </div>
            <div class="col-4">
                <div class="filter-purple-rain h-100 box-l">
                    <img class="fit-to-wrapper h-100" src="{{student.fields.img[0].thumbnails.large.url}}">
                </div>
            </div>
        </div>
    </div>
    <div class="d-none" id="pageIndex" class="pageindex sesam sesam-hidden" data-sesam-target="pageIndex">
                    
    </div>
</section>
