---
layout: page-wide
title: Cases & opdrachten
subtitle: Werk van onze studenten
pageindex: false
permalink: "/cases/index.html"
---

{% capture filterItems %}{% for case in cases %}{{ case.course }},{% endfor %}{% endcapture %}
{% assign filters = {{ filterItems | strip | split: ","  | uniq }} %}

<section data-label="allCases">
    <div class="container-fluid filter-section box-y box-offset-t" data-label="filterAllCases">
        <div class="filter-section-title box-r py-3 pr-3">
            <p class="text-modern mb-0 text-color-white">zoek op vak</p>
        </div>
        <div class="filter-section-options pl-4">
            {% for filter in filters %}
                {% if filter != '' %}
                    <div class="options-el">
                        <input type="radio" id="filterOption{{ filter | slug }}" name="type" value="{{ filter | downcase }}">
                        <label for="filterOption{{ filter | slug }}">{{ filter }}</label>
                    </div>
                    <div class="word-joint">・</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="my-5 cases-preview">
        <div class="container-fluid salvatore salvatore-grid salvatore-grid-1c salvatore-grid-lg-2c" data-columns>
            {% for case in cases %}
                <div class="salvatore-grid-item card box-all mt-5 mt-md-6 box-lazy animated lightspeed" data-filter="{{ case.tags | join: ',' | downcase }},{{ case.technologie | join: ',' | downcase }},{{ case.course | downcase }}">
                    <div class="card-header box-b d-flex align-items-center justify-content-between px-3">
                        <div class="font-rhode py-3">
                            <p class="text-modern small text-color-grey mb-1">{% momentify %}{{ case.date }}{% endmomentify %}</p>
                            <span class="word-joint d-none">・</span>{{ case.course }}
                        </div>
                        <i data-feather="arrow-right"></i>
                    </div>
                    <div class="card-body">
                        <div class="card-body-overlay px-4">
                            <h2 class="card-title font-rhode hyphens-false">{{ case.title }}</h2>
                            <p>
                                {{ case.about }}
                            </p>
                        </div>
                        <div class="filter-purple-rain">
                            <img class="w-100" src="{{ case.img.tumbnail }}" alt="">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>