---
layout: page-wide
title: Studenten
subtitle: Deze studenten kozen voor onze richting
pageindex: false
---
<section data-label="allStudents">
    <div class="container-fluid filter-section box-y box-offset-t" data-label="filterAllStudents">
        <div class="filter-section-title box-r py-3 pr-3">
            <p class="text-modern mb-0 text-color-white">zoek op jaar</p>
        </div>
        <div class="filter-section-options pl-4">
            {% for generation in students %}
                <div class="options-el">
                    <a href="#generation-{{ generation.generation | join: '-' }}" class="font-rhode text-color-white">{{ generation.generation | join: ' - ' }}</a>
                </div>
                <div class="word-joint">・</div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid mt-5">
        {% for generation in students %}
            <p class="mb-0 text-modern small" id="generation-{{ generation.generation | join: '-' }}">academiejaar</p>
            <h3 class="mt-0 mb-4">{{ generation.generation | join: ' - ' }}</h3>
            <div class="flex-grid-wrapper mb-6">
                <div class="flex-grid">
                    {% for student in generation.class %}
                        <a href="{{ page.url | url }}?is={{ student.url }}" class="card box-all position-relative flex-grid-item box-lazy" data-filter="">
                            <div class="card-header p-4">
                                <p class="card-title font-rhode my-0">{{ student.fields.name_first }}</p>
                                <p class="text-modern small mb-0">{{ student.fields.name_last }}</p>
                            </div>
                            <div class="card-body">
                                <div class="filter-purple-rain">
                                    <img class="w-100 card-thumbnail" src="{{ student.fields.img[0].thumbnails.large.url }}" alt="">
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>