---
layout: page-fluid
title: Studenten
subtitle: Deze studenten kozen voor onze richting
pageindex: false
permalink: "/nieuws/index.html"
contentstyle: ignore
---

<section data-label="allPosts">
    <div class="collection collection-vertical collection-items-wide">     
        {% for post in posts %}
            <a href="{{ '/nieuws' | url }}/{{ post.title | slug }}" class="card d-block box-lazy mb-5 filter-hover-none" data-lazy-animation="fadeInUp">
                <div class="card-header py-5 container-fluid">
                    <p class="text-modern small text-color-grey mb-1">{% momentifyUnix %}{{ post.createdAt }}{% endmomentifyUnix %}</p>
                    <h3 class="font-rhode mt-0 balance-text">{{ post.title }}</h3>
                </div>
                <div class="card-img filter-purple-rain">
                    <img src="{{ post.thumbnailUrl }}" alt="">
                </div>
            </a>
        {% endfor %}
    </div>
</section>